[submodule "wgpu-native"]
	path = wgpu-native
	url = https://github.com/gfx-rs/wgpu-native
[submodule "cimgui"]
	path = cimgui
	url = https://github.com/cimgui/cimgui
[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
