[submodule "wgpu-native"]
	path = vendor/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native
[submodule "cimgui"]
	path = vendor/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d
[submodule "SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/accesskit-c"]
	path = vendor/accesskit-c
	url = https://github.com/AccessKit/accesskit-c
[submodule "SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "vendor/cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm
[submodule "vendor/libxml2"]
	path = vendor/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2
[submodule "vendor/tmx"]
	path = vendor/tmx
	url = https://github.com/baylej/tmx
